* {
  margin: 0;
  padding: 0;
}

.contain {
  box-sizing: border-box;
  padding-top: 70px;
}

.btn {
  margin-left: 40%;
}

h1 {
  color: crimson;
  text-align: center;
}

#have-account {
  margin: 20px;
  display: block;
  text-align: center;
}

.search {
  margin-left: 20px;
}