* {
  margin: 0;
  padding: 0;
}

.contain {
  box-sizing: border-box;
  padding-top: 70px;
}

.btn {
  margin-left: 40%;
}

h1 {
  color: crimson;
  text-align: center;
}

#have-account {
  margin: 20px;
  display: block;
  text-align: center;
}

.search {
  margin-left: 20px;
}

.review-text {
  margin-top: 20px;
}

.review-text textarea {
  width: 75vh;
  height: 30vh;
  padding: 10px;
}

.reviews {
  margin-bottom: 10px;
}

.review {
  position: relative;
  margin: 10px;
  padding: 20px;
}

#name {
  margin-right: 15%;
}

#msg {
  position: absolute;
  padding-top: 20px;
}

.review-div {
  width: min-content;
  margin: auto;
}

.clearfix {
  overflow: auto;
}


.container {
  margin-top: 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#heading {
  margin-bottom: 30px;
}

.img2 {
  float: left;
  margin-right: 20px;
}

table {
  padding-left: 50px;
}