{% extends "layout.html" %} {% block title %}Home{% endblock %} {%block body%}
<div class="clearfix">
    <h1>{{book.title}}</h1>
    <img src="http://covers.openlibrary.org/b/isbn/{{res['isbn']}}-L.jpg" class='w-auto float-left mr-5 mt-3'
        alt={{res['isbn']}} width="300" height="350">
    <div class="d-flex justify-content-around align-self-center">
        <table class="table table-borderless text-capitalize mt-5">
            <tr>
                <td><b>ISBN:&nbsp&nbsp</b>{{res['isbn']}}</td>
                <td><b>Author:&nbsp&nbsp</b>{{book.author}}</td>
            </tr>
            <tr>
                <td><b>Rating:&nbsp&nbsp</b>{{res['average_rating']}}</td>
                <td><b>Year Published:&nbsp&nbsp</b>{{book.year}}</td>
            </tr>
            <tr>
                <td><b>Review Count:&nbsp&nbsp</b>{{res['reviews_count']}}</td>
            </tr>
        </table>
    </div>

</div>

<hr>

<div>


    <div style="display:{{property}}" class="review-div">
        <form action="{{url_for('bookDetails',user=user,isbn=res['isbn'])}}" class='form-control' method="POST">

            <h4 class="starhead" style="color: crimson;">Rating</h4>

            <input type="radio" id="star5" name="rating" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="rating" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="rating" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="rating" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="rating" value="1" />
            <label for="star1" title="text">1 star</label>
            <div class='review-text'>
                <textarea name="review" rows='5' placeholder="Write your review.."></textarea>
            </div>
            <div class="justify-content-center mt-2">
                <input class="btn btn-dark " type="submit" value="Submit">
            </div>
    </div>



    </form>
</div>

<div class="reviews">
    <p style="color:blue;text-align:center;font-size: large;">{{message}}</p>
    {% if review %}
    <h2 style="color: crimson;padding: 20px;margin:auto;">Reviews</h2>
    {% for i in review %}
    <div class="review">
        <p>
            <span id='name'><b>{{i.username}}</b></span>{{i.time_stamp}}<br>
            <span id='msg'> {{i.review}}</span>
        </p>
    </div>
    <hr>

    {% endfor %}
    {% endif %}

</div>
</div>

{% endblock %}