{% extends "layout.html" %} {% block title %}Home{% endblock %} {%block body%}
<form action="{{url_for('search',user=user) }}" method="post" class="d-flex justify-content-center col-6 m-auto">
    <input class="form-control" name=data type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-info search" type="submit">Search</button>
</form>
{% if result %}
<table class="table text-center text-capitalize mt-5">
    <thead class="table-dark">
        <tr>
            <th scope="col">Book</th>
            <th scope="col">ISBN</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Year</th>
        </tr>
    </thead>
    <tbody>
        {% for r in result %}
        <tr>
            <th scope="row"><img src="http://covers.openlibrary.org/b/isbn/{{r.isbn}}-M.jpg" alt={{r.isbn}} width="100"
                    height="150"></th>
            <td> <a href="{{url_for('bookDetails',isbn=r.isbn,user=user)}}">{{r.isbn}}</a></td>
            <td>{{r.title}}</td>
            <td>{{r.author}}</td>
            <td>{{r.year}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}