<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
   <!-- JavaScript and dependencies -->
   <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-md navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Books</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link {{home}}" href="{{url_for('index')}}">Home</a>
              </li>
              {% if not user %}
              <li class="nav-item">
                <a class="nav-link {{register}}" href="{{url_for('register')}}">Register</a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link {{login}}" href="{{url_for('login')}}">Login</a>
              </li>
              {% endif %}
              {% if user %}
              <li class="nav-item float-right">
                <a class="nav-link {{logout}}" href="{{url_for('logout',Username=user)}}">Logout</a>
              </li>
              {% endif%}
          </div>
        </div>
      </nav>
      <div class="contain">
        {% with msg = get_flashed_messages(with_categories=True) %}
          {% if msg %}
            {% for i in msg %}
            <div class="alert alert-{{ i[0] }} alert-dismissible fade show" role="alert">
              <strong>{{i[1]}}</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block body %}
    </div>
 
{% endblock %}
</body>
</html>