{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block body %}
  <h1>Login</h1>
  <div class="row justify-content-center mt-5">
    <div class="form-group col-md-4 col-md-offset-5 align-center ">
      <form action="{{url_for('loginNow') }}" method="post">
        
        <div class="mb-3">
          <label for="Username" class="form-label">Username</label>
          <input type="text" name="Username" class="form-control" id="Username">
        </div>

        <div class="mb-3">
          <label for="Password" class="form-label">Password</label>
          <input type="password" name="Password" id="Password" class="form-control"
            aria-describedby="passwordHelpBlock">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" name='check' class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Login</button>
        <Span id='have-account'><a href="{{url_for('register')}}">Don't have an Account</a></Span>
      </form>
    </div>
  </div>
</div>
{% endblock %}