{% extends "layout.html" %} {% block title %}Registration{% endblock %} {% block
body %}

<h1>Registration</h1>
<div class="row justify-content-center mt-5">
  <div class="form-group col-md-4 col-md-offset-5 align-center">
    <form action="{{url_for('registration') }}" id='Rverify' method="post">
      <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input type="text" name="Name" class="form-control" id="Name" />
        <small></small>
      </div>
      <div class="mb-3">
        <label for="Username" class="form-label">Username</label>
        <input type="text" name="Username" class="form-control" id="Username" />
        <small></small>
      </div>

      <div class="mb-3">
        <label for="Email" class="form-label">Email address</label>
        <input type="email" name="Email" class="form-control" id="Email" aria-describedby="emailHelp" />
        <small></small>
      </div>

      <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="password" name="Password" id="Password" class="form-control"
          aria-describedby="passwordHelpBlock" />
        <small></small>
      </div>

      <div class="mb-3">
        <label for="RPassword" class="form-label">Retype Password</label>
        <input type="password" name="RPassword" id="RPassword" class="form-control"
          aria-describedby="passwordHelpBlock" />
        <small></small>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" name="check" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">I accept all terms and conditions</label>
        <small></small>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Register</button>
      <span id="have-account"><a href="{{url_for('login')}}">Already have an Account</a></span>
    </form>
  </div>
</div>
{% endblock %}